/* general layout */
body{
    background-color: #282828 ;
    color: #F0F0F0 ;
}

header{
    position: absolute;
    top: 0;
    left: 0;
}

header > h1{
    margin: 0;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

section > h3 {
    margin-bottom: 0.3em;
    margin-top: 0.5em;
}

h4 {
    padding: 0.5em;
}

.container {
    width: 100%;
    margin-top: 2em;
}

.container > .col{
    margin: 0 2%;
    width:44%;
    display: inline-block;
    vertical-align: top;
}

.container > .col1-2{
    width:44%;
}
.container > .col1-3{
    width:30%;
}

.container > .col2-3{
    width:60%;
}


/* left bar  */
button {
	padding: 0.3em;
	font-weight: bold;
	margin: 5px;
    border-radius: 3px;
}

button:hover
{
  background-color: white;
}

section {
	margin-top: 20px;
	margin-bottom: 10px;
}

/*icons */
button > i {
	font-style: inherit;
	font-size: 1.4em;
	line-height: 0.5em;
}

.controller button{
	font-size: 20px;
	line-height: 0.9em;
	min-width: 2em;
}

.modeControl {
	margin-bottom: 10px;
	margin-top: 10px;
}

small{
    padding: 4px;
}


/* main component */
.matrix {
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    padding: 0.3em;
    height: 90vmin;
    width: 90vmin;
    margin: auto;
    background-color: black;
}

.matrix table{
    empty-cells: show;
    border-spacing: 1px;
    height: 100%;
    width: 100%;
}

.matrix td{
    cursor: pointer;
}

.matrix table td.off{
    background-color: #101010;
    transition: background-color 0.1s;
}

.matrix table td.on {
	background-image: radial-gradient( circle at center, #FFFF33, transparent 90%);
	background-color: darkorange;
    transition: background-color 0.1s;
}

.matrix table td:hover{
    background-image: none;
    background-color: #C0C0C0;
}

.tools {
    padding-top: 10px;
}

/* Full-Diff switch */
.onoffswitch {
    position: relative;
    width: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: inline-block;
    vertical-align: middle;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0;
    border-radius: 28px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "O";
    padding-left: 10px;
    background-color: #BAB8B8;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "I";
    padding-right: 10px;
    background-color: #BAB8B8;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 30px;
    margin: -3px;
    background: #F5B400;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 48px;
    border: 0;
    border-radius: 30px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #F5B400;
}

.radio-group{
    margin-left: 20px;
}
.radio-group h4 {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
    margin-left: -10px;
}

.pattern-selector{
    font-size: 1em;
    padding:4px;
    width: 3em;
    display:inline-block;
    text-align: center;
}

.pattern-selector input{
    margin-right: 5px;
}

.patternradio{
    opacity: 0;
}

.patternradio + label{
    background-color: #4A4848;
    border: 1px solid #4A4848;
}

.patternradio:checked + label{
    background-color: #F5B400;
}

.patternradio + label:hover
{
    border: 1px solid #F5B400;
}