header{
    position: absolute;
    top: 0;
    left: 0;
}

header > h1{
    margin: 0;
}

.container {
    width: 100%;
    margin-top: 2em;
}

.container > .col{
    margin: 0 2%;
    width:44%;
    display: inline-block;
    vertical-align: top;
}

.container > .col1-2{
    width:44%;
}
.container > .col1-3{
    width:30%;
}

.container > .col2-3{
    width:60%;
}

.theme-picker {
    display: inline-block;
}

.theme-picker label{
    min-width: 4em;
    display: inline-block;
}

.matrix {
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    padding: 0.3em;
    height: 90vmin;
    width: 90vmin;
    margin: auto;
}
.matrix table{
    empty-cells: show;
    border-spacing: 0.3em;
    height: 100%;
    width: 100%;
}

.matrix td{
    cursor: pointer;
}

.matrix table td.off{    
    background-color: #C0C0C0;
}

.matrix table td.on {
	background-image: radial-gradient( circle at center, #FFFF33, transparent 90%);
	background-color: #FFFF99;
}

.matrix table td:hover{
    background-color: darkorange;
    box-shadow: inset 1px 1px 1px 0px rgba(48,48,48,0.5);
}


